.marquee {
    max-width: var(--pc);
    width: 100%;
    margin: 0 auto;
    display: flex;

    .content {
        display: flex;
        gap: 2.4rem;
        text-wrap: nowrap;
        padding: 1.2rem 0;


        > h5 {
            font-size: 1.4rem;
        }
    }
}