#navigate {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 1000000;
    border: 1px solid white;
    color: white;
    width: 300px;
    height: auto;
    min-height: auto;
    display: flex;
    justify-content: space-around;position: fixed;

    > a {
        padding: 1.2rem;
        width: 100%;
        text-align: center;
        transition: 0.25s background;
        backdrop-filter: blur(20px);
        -webkit-backdrop-filter: blur(20px);
        background: #000000ad;

        &.active {
            background: white;
            color: black;
        }

        &:hover {
            background: white;
            color: black;
        }
    }
}