/* 스킵 메뉴 */
#skip {
    position: relative;
    z-index: 100000;

    > a {
        background: #000;
        color: #fff;
        position: absolute;
        padding: 20px 40px;
        left: -400px;
        top: 5px;
        
        &:active,
        &:focus {
            left: 5px;
        }
    }
}