html,
body {
  max-width: 100%;
  // overflow-x: hidden;
  position: relative;
}
body {
  background-color: #000000;
  overflow: hidden;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.bglinear {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(90deg, #000 50%, #fff 50%);
  position: fixed;
  flex-shrink: 0;
  overflow: hidden;
  z-index: -1;
  transition: all 0.1s ease;
  prespective: 1px;
}
.bglinear span {
  color: transparent;
  font-size: 122px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-background-clip: text;
  -webkit-text-stroke: 2px #858585;
  backface-visibility: none;
}

#progress {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background: #000000;
  z-index: 100000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  user-select: none;
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blure(30px);
}
#progress h2 {
  font-size: 3.4vw;
  font-family: NexonLv1GothicLow;
  font-weight: 100;
  text-transform: uppercase;
  font-weight: 100;
  line-height: 0.7;
}
.progress-text {
  font-size: 5.5vw;
  font-weight: 900;
  font-family: GmarketSans;
  //   color: #287eff;
  // background: linear-gradient(45deg, rgb(20, 240, 66) 26%, #b7ff00 100%);
  -webkit-background-clip: text;
  filter: drop-shadow(0px 0px 26px #b7ff004d);
}

.st0 {
  fill: none;
  stroke: transparent;
  stroke-width: 10;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}

.page1 {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: transparent;
  z-index: 1;
}
.page1 .h1 {
  color: white;
  font-size: 48px;
}
.page1 .h2 {
  color: black;
  font-size: 48px;
}
.page1 a {
  font-size: 24px;
  position: absolute;
  left: 50%;
  top: 0%;
  transform: translate(-50%, 0%);
  background: gainsboro;
  padding: 10px 15px;
  margin-top: 10px;
  border-radius: 3px;
  text-decoration: none;
  color: black;
}
.page2 {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: transparent;
  position: relative;
}
.page2 .h3 {
  color: #000;
  font-size: 48px;
}
.page2 .h4 {
  font-size: 48px;
  color: #fff;
}
.page2 a {
  font-size: 24px;
  position: absolute;
  left: 50%;
  top: 85%;
  transform: translate(-50%, 0%);
  background: gainsboro;
  padding: 10px 15px;
  margin-top: 10px;
  border-radius: 3px;
  text-decoration: none;
  color: black;
}
.color_bg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.custom_01 {
  width: 100vw;
}
.custom_02 {
  width: 500vw;
}
.custom_03 {
  width: 800vw;
}
.custom_04 {
  width: 75vw;
  margin: 0 auto;
}
.custom_flex {
  display: flex;
  align-items: center;
  padding: 0 120px;
  justify-content: space-between;
}
.custom_color {
  background: #ededf4;
}
.custom_color_dark {
  background: #000000;
}
.custom_color_purple {
  background: #6259b4;
}

.horizontal3,
.horizontal2,
.horizontal {
  display: flex;
  position: relative;
}

.panel3,
.panel2,
.panel {
  height: 100vh;
  flex: 0 0 100vw;
  position: relative;
}

.section {
  height: 100vh;
  width: 100%;
  position: relative;
}

.polygon {
  z-index: 1;
  grid-column: span 2;
  max-width: 100%;
  -webkit-clip-path: polygon(41% 0, 100% 0, 62% 100%, 0 100%);
  clip-path: polygon(41% 0, 100% 0, 62% 100%, 0 100%);
}
.polygon_reverse {
  z-index: 1;
  grid-column: span 2;
  max-width: 100%;
  -webkit-clip-path: polygon(0 0, 62% 0, 100% 100%, 41% 100%);
  clip-path: polygon(0 0, 62% 0, 100% 100%, 41% 100%);
}
.close {
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 1000;
  width: 71px;
}
.porfolio_desc_fixed {
  position: fixed;
  left: 50px;
  top: 0;
  height: 100%;
  width: 0%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-direction: column;
  z-index: 111;
  font-family: Red Hat Display;
  padding: 7.2vw 0;
  font-weight: 900;
  font-size: 0.7vw;
  text-transform: uppercase;
  p {
    transform: rotate(90deg);
    background: transparent !important;
  }
}
.point {
  position: relative !important;
  height: 300vw !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.point2 {
  position: relative !important;
  height: 210vw !important;
  overflow: hidden;
}

#main {
  #progress {
    .icon_cont {
      position: relative;
      img {
        transition: all 0.25s;
        position: absolute;
        opacity: 0.2;
        &:nth-child(1) {
          top: -10vw;
          left: 2.2vw;
          rotate: 20deg;
        }
        &:nth-child(2) {
          top: -20vw;
          left: -42vw;
          transform: scale(1.5);
          filter: blur(2px);
          rotate: 40deg;
        }
        &:nth-child(3) {
          top: 7vw;
          left: 22.2vw;
          filter: blur(1px);
          // opacity: 0.8;
          rotate: 60deg;
        }
        &:nth-child(4) {
          top: 15vw;
          left: -24.799999999999997vw;
          filter: blur(2px);
          /* opacity: 0.8; */
          rotate: 80deg;
        }
        &:nth-child(5) {
          top: 6vw;
          left: -50vw;
          filter: blur(3px);
          /* opacity: 0.8; */
          rotate: 100deg;
        }
      }
    }
  }
}

.lama_loading {
  -webkit-animation: rubberBand 1.1s alternate 0s infinite;
  animation: rubberBand 1.1s alternate 0s infinite;
  animation-timing-function: cubic-bezier(1, 0.36, 0.4, 1.13);
  scale: 1.4;
}

@-webkit-keyframes rubberBand {
  0% {
    -webkit-transform: scale3d(1, 1, 1) translateY(-30px);
    transform: scale3d(1, 1, 1) translateY(-30px);
  }

  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1) translateY(-30px);
    transform: scale3d(1.25, 0.75, 1) translateY(-30px);
  }

  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1) translateY(-30px);
    transform: scale3d(0.75, 1.25, 1) translateY(-30px);
  }

  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1) translateY(-78px);
    transform: scale3d(1.15, 0.85, 1) translateY(-78px);
  }

  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1) translateY(-30px);
    transform: scale3d(0.95, 1.05, 1) translateY(-30px);
  }

  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1) translateY(-30px);
    transform: scale3d(1.05, 0.95, 1) translateY(-30px);
  }

  100% {
    -webkit-transform: scale3d(1, 1, 1) translateY(-30px);
    transform: scale3d(1, 1, 1) translateY(-30px);
  }
}
@keyframes rubberBand {
  0% {
    -webkit-transform: scale3d(1, 1, 1) translateY(-30px);
    transform: scale3d(1, 1, 1) translateY(-30px);
  }

  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1) translateY(-30px);
    transform: scale3d(1.25, 0.75, 1) translateY(-30px);
  }

  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1) translateY(-30px);
    transform: scale3d(0.75, 1.25, 1) translateY(-30px);
  }

  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1) translateY(-78px);
    transform: scale3d(1.15, 0.85, 1) translateY(-78px);
  }

  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1) translateY(-30px);
    transform: scale3d(0.95, 1.05, 1) translateY(-30px);
  }

  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1) translateY(-30px);
    transform: scale3d(1.05, 0.95, 1) translateY(-30px);
  }

  100% {
    -webkit-transform: scale3d(1, 1, 1) translateY(-30px);
    transform: scale3d(1, 1, 1) translateY(-30px);
  }
}
/* PC (해상도 1024px)*/
// @media (max-width: 1024px) {

// }

/* 테블릿 가로, 테블릿 세로 (해상도 768px ~ 1023px)*/
// @media (max-width: 768px) {

// }
/* 모바일 가로, 모바일 세로 (해상도 480px ~ 767px)*/
@media (max-width: 468px) {
  html,
  body {
    max-width: 100%;
    overflow-x: hidden;
    position: relative;
  }
  body {
    overflow: hidden;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  #header {
    padding: 3vw;
    > a {
      font-size: 2.5vw !important;
    }
    .menu_cont {
      a {
        font-size: 2.5vw !important;
      }
    }
  }
  #main {
    #progress {
      .icon_cont {
        display: none;
      }
      h2 {
        font-size: 15.3vw !important;
      }
      .progress-text {
        font-size: 20vw !important;
      }
    }
  }
  .menu_cont {
    display: flex;
    align-items: center;
  }
  .section {
    .section1_desc {
      h2 {
        font-size: 25vw !important;
        height: 52vw !important;
      }
    }
    .section1_img {
      img {
        &:nth-child(1) {
          width: 35vw;
        }
        &:nth-child(2) {
          left: 30%;
          width: 35vw;
        }
        &:nth-child(3) {
          right: 10%;
          width: 25vw;
        }
        &:nth-child(5) {
          left: 10%;
          width: 5vw;
          bottom: 34vw;
        }
        &:nth-child(7) {
          width: 190vw;
        }
        &:nth-child(8) {
          width: 120vw;
        }
        &:nth-child(10) {
          width: 7vw;
        }
        &:nth-child(11) {
          width: 10vw;
        }
      }
    }
  }
  /* 섹션 2 */
  .section {
    .section2_cont {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .section2_desc {
        width: auto;
        text-align: center;
        .first_name {
          text-align: center;
          font-size: 37vw;
        }
        .second_name,
        .fifth_name {
          font-size: 13.4vw;
        }
        .porfolio_desc {
          font-size: 4vw;
        }
      }
    }
  }

  /* 섹션 3 */
  .section3_fixed {
    h2 {
      font-size: 9vw !important;
    }
  }
  .panel {
    .section3_item_bottom2,
    .section3_item_bottom {
      width: 1000%;
    }
    .section3_item {
      img {
        width: 80vw;
      }
      .item_desc {
        padding: 3vw;
        h2 {
          font-size: 6.2vw;
        }
        p {
          width: 64vw;
          font-size: 3vw;
          margin-bottom: 5.2vw;
        }
        a {
          width: 14vw;
          height: 8vw;
          font-size: 4vw;
        }
      }
    }
  }

  /* 섹션 4 */
  .section {
    .section4_fixed {
      flex-direction: column;
      .title {
        font-size: 11vw;
      }
      .desc_cont {
        flex-direction: column;
        .desc {
          font-size: 4vw;
          text-align: center;
          margin-right: 0;
          margin-bottom: 10px;
        }
        .section4_button_cont {
          flex-direction: row;
          a {
            width: 14vw;
            height: 8vw;
            font-size: 4vw;
            margin-right: 5px;
            &:last-child {
              margin-right: 0;
            }
          }
        }
      }
    }
    .section4_cont {
      .section4_icon_layout {
        .section4_item {
          width: 90vw;
          height: 50vw;
          .section4_right {
            h2 {
              font-size: 11vw;
            }
            .section4_item_desc {
              h4 {
                font-size: 5.5vw;
              }
              p {
                font-size: 2vw;
              }
            }
          }
        }
      }
      .section4_rev_icon_layout {
        .section4_rev_item {
          width: 90vw;
          height: 50vw;
          .section4_rev_right {
            h2 {
              font-size: 11vw;
            }
            .section4_rev_item_desc {
              h4 {
                font-size: 5.5vw;
              }
              p {
                font-size: 2vw;
              }
            }
          }
        }
      }
    }
  }

  .point {
    height: 350vw !important;
  }

  /* 섹션 5p5 */
  .screenshot,
  .ball {
    filter: none !important;
  }
  .ball_cont {
    top: -50%;
    transform: translatey(50%) !important;
  }
  .ball_13 {
    filter: none !important;
    display: none !important;
  }
  .s6p5_1 {
    top: 23vw;
    left: 50%;
    z-index: 2;
    /* filter: blur(5px); */
    transform: translatex(-50%) scale(4.3);
    border: 2px solid #322784;
  }

  .site_type_01_desc h2,
  .site_type_02_desc h2,
  .site_type_03_desc h2,
  .site_type_04_desc h2,
  .site_type_05_desc h2,
  .site_type_06_desc h2,
  .site_type_07_desc h2 {
    font-size: 6.2vw !important;
  }
  .site_type_01_desc p,
  .site_type_02_desc p,
  .site_type_03_desc p,
  .site_type_04_desc p,
  .site_type_05_desc p,
  .site_type_06_desc p,
  .site_type_07_desc p {
    font-size: 4.2vw !important;
  }

  .point3 {
    height: 340vw !important;
  }

  /* 섹션 7 */
  .section7_flex_cont {
    flex-direction: column;
    align-items: center;
  }
  .section7_main_title_cont {
    display: flex;
    align-items: center;
    margin-bottom: 12vw;
    flex-direction: column-reverse;
    gap: 20px;
  }
  .section7_main_title_cont h2 {
    font-size: 22vw;
  }
  .section7_main_title_cont p {
    margin: 0;
  }
  .section7_blog_desc {
    width: 90%;
    text-align: center;
  }

  /* 섹션 8 */
  .section8_flex_cont {
    flex-direction: column-reverse;
    align-items: center;
  }
  .section8_main_title_cont {
    display: flex;
    align-items: center;
    margin-bottom: 12vw;
    flex-direction: column-reverse;
    gap: 20px;
  }
  .section8_main_title_cont h2 {
    font-size: 22vw;
  }
  .section8_main_title_cont p {
    margin: 0;
  }
  .section8_blog_desc {
    width: 90%;
    text-align: center;
  }

  .sub_ttitle {
    margin: 0;
    margin-bottom: 20px;
  }

  .section .section9_all_cont .section9_logo_cont,
  .section .section10_all_cont .section10_logo_cont,
  .section .section11_all_cont .section11_logo_cont,
  .section .section12_all_cont .section12_logo_cont,
  .section .section13_all_cont .section13_logo_cont,
  .section .section14_all_cont .section14_logo_cont {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .section9_all_cont,
  .section10_all_cont,
  .section11_all_cont,
  .section12_all_cont,
  .section13_all_cont,
  .section14_all_cont {
    padding: 0 !important;
    justify-content: center !important;
  }
  .section11_lama,
  .section12_lama,
  .section13_lama,
  .section14_lama {
    display: none;
  }

  .sec8_bg,
  .sec9_bg,
  .sec10_bg,
  .sec11_bg,
  .sec12_bg,
  .sec13_bg,
  .sec14_bg {
    display: none;
  }

  .sec8_logo,
  .sec9_logo,
  .sec10_logo,
  .sec11_logo,
  .sec12_logo,
  .sec13_logo,
  .sec14_logo {
    opacity: 0.5;
  }

  .section14_desc_cont,
  .section13_desc_cont,
  .section12_desc_cont,
  .section11_desc_cont,
  .section10_desc_cont,
  .section9_desc_cont {
    justify-content: center !important;
    text-align: center;
    width: 75% !important;
    z-index: 2 !important;
  }
  .title_wrap {
    flex-direction: column-reverse;
    text-align: center;
  }
  .section_rv_button_cont {
    justify-content: center !important;
  }
  .s5p5_1 {
    top: 10vw !important;
    left: 10vw !important;
    transform: none !important;
  }
  .s5p5_4 {
    top: 106vw !important;
    transform: none !important;
  }
  .s5p5_7 {
    left: 10vw !important;
    transform: none !important;
  }
  .site_type_01_desc {
    top: 8vw !important;
    left: 0vw !important;
    padding: 0 20px;
    transform: none !important;
  }
  .site_type_02_desc {
    top: 84vw !important;
    left: 0vw !important;
    padding: 0 20px;
    transform: none !important;
  }
  .site_type_03_desc {
    top: 149vw !important;
    left: 0vw !important;
    padding: 0 20px;
    transform: none !important;
  }
  /* 두번째 */
  .site_type_04_desc {
    top: 37vw !important;
    left: 0vw !important;
    padding: 0 20px;
    transform: none !important;
  }
  .site_type_05_desc {
    left: 0vw !important;
    padding: 0 20px;
    transform: none !important;
  }
  .site_type_06_desc {
    transform: none !important;
    top: 177vw !important;
    left: 0vw !important;
    padding: 0 20px;
  }
  .site_type_07_desc {
    top: 235vw !important;
    left: 0vw !important;
    padding: 0 20px;
    transform: none !important;
  }
  .pin2 img {
    display: none;
  }
  .screenshot {
    display: none;
  }
  .porfolio_desc_fixed {
    padding: 12.2vw 0;
  }
  .porfolio_desc_fixed p {
    font-size: 2.2vw;
  }
  .lama_fur_test,
  .lama_fur_top,
  .section6p5_static,
  .section6p7_static {
    display: none;
  }
}

.popup {
  position: absolute;
  z-index: 1000000;
  width: 100vw;
  height: 100vh;
  &.hide {
    display: none;
  }
  .popup_inner {
    background: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    padding: 20px;
    width: 390px;
    h2 {
      font-weight: 900;
      letter-spacing: -1.2px;
      margin-bottom: 5px;
    }
    p {
      margin-bottom: 20px;
    }
    .function_container {
      width: 100%;
      height: 40px;
      // background: black;
      border: 1px solid #00000020;
      color: black;
      box-sizing: border-box;
      display: flex;
      align-items: center;
      a {
        border-right: 1px solid #00000020;
      }
      a,
      button {
        color: black;
        width: 50%;
        height: 100%;
        text-align: center;
        cursor: pointer;
        transition: 0.25s;
        line-height: 2.4;
        &:hover {
          background: #287eff;
        }
      }
    }
  }
  &::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.643);
  }
}

// 새로운
.cursor {
  position: fixed;
  top: 0;
  left: 0;
  width: 2.5rem;
  height: 2.5rem;
  z-index: 2;
  pointer-events: none;
  z-index: 1000000;
}
.cursor div {
  position: absolute;
  display: grid;
  place-items: center;
}
.cursor div div {
  border: 1px solid #fff;
  border-radius: 50%;
  animation: pulse 2.5s linear infinite;
  box-shadow: 0 0 50px 5px #d7abff6e;
}
.cursor div:nth-child(1),
.cursor div:nth-child(2),
.cursor div:nth-child(3) {
  width: 100%;
  height: 100%;
}
.cursor div:nth-child(1) {
  transition: transform 0.2s ease-out;
}
.cursor div:nth-child(2) {
  transition: transform 0.1s ease-out;
}
.cursor div:nth-child(3) {
  transition: transform 0.5s ease-out;
}
.cursor div:nth-child(2) div {
  background: #fff;
  border-radius: 50%;
  width: 4px;
  height: 4px;
}
.cursor div:nth-child(3) div {
  z-index: -10000000;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 75em;
  height: 75em;
  margin: 0 0 0.1px;
  object-fit: contain;
  border-radius: 75em;
  filter: blur(10em);
  background-image: radial-gradient(
    circle at 50% 50%,
    #287eff,
    rgba(0, 214, 122, 0)
  );
  will-change: left, top, transform;
  transition: transform 0.5s;
  opacity: 0.4;
}

.cursor {
  &.obj {
    z-index: -10000;
  }
  .back_obj {
    > div {
      z-index: -10000000;
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 75em;
      height: 75em;
      margin: 0 0 0.1px;
      object-fit: contain;
      border-radius: 75em;
      filter: blur(10em);
      background-image: radial-gradient(
        circle at 50% 50%,
        #287eff,
        rgba(0, 214, 122, 0)
      );
      will-change: left, top, transform;
      transition: transform 0.5s;
      opacity: 0.4;
    }
  }
}
