/*prevent many large-by-comparison ripples by shrinking the height*/
.section1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}
.section1_img {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  img {
    position: absolute;
    bottom: 0;
    z-index: 1;
    &:nth-child(1) {
      left: 50%;
      transform: translate(-50%, 150%);
      // transform: translate(-50%, 0%);
      width: 20vmin;
    }
    &:nth-child(2) {
      left: 33%;
      transform: translate(33%, 92%) rotate(-230deg) scale(0.5);
      width: 20vmin;
      z-index: 100;
      top: -270px;
    }
    &:nth-child(3) {
      right: 36%;
      transform: translate(-170%, 100%) rotate(230deg) scale(0.5);
      width: 17vmin;
      z-index: 100;
      top: -290px;
    }
    &:nth-child(4) {
      bottom: 0vw;
      right: 20%;
      transform: translate(-950%, 120%) rotate(230deg);
      // transform: translate(70%, 0);
      width: 16vmin;
    }
    &:nth-child(5) {
      left: 10%;
      bottom: 10vw;
      transform: translate(780%, 110%) rotate(230deg);
      // transform: translate(70%, 0);
      width: 16vmin;
    }
    &:nth-child(6) {
      bottom: 580px;
      left: 15%;
      transform: translate(1500%, 120%) rotate(20deg);
      width: 10vmin;
      /* display: none; */
    }
    &:nth-child(7) {
      z-index: 0;
      left: 50%;
      transform: translate(-50%, 145%);
      // transform: translate(-50%, 0);
      opacity: 0;
      width: 50vw;
      // scale: 0;
    }
    &:nth-child(8) {
      z-index: 0;
      left: 50%;
      transform: translate(-50%, 145%);
      // transform: translate(-50%, 0);
      opacity: 0;
      width: 35vw;
      // scale: 0;
    }
    &:nth-child(9) {
      z-index: 0;
      left: 50%;
      transform: translate(-50%, 0);
      // width: 50vw;
      display: none;
    }
    &:nth-child(10) {
      right: 10%;
      transform: translate(-750%, 800%) rotate(-230deg);
      // transform: translate(-60%, 0);
      top: -450px;
      width: 16vmin;
    }
    &:nth-child(11) {
      left: 20%;
      transform: translate(500%, 1600%) rotate(200deg);
      // transform: translate(-50%, 0);
      top: -450px;
      width: 16vmin;
    }
  }
  // &::after {
  //   content: "";
  //   position: absolute;
  //   bottom: 0;
  //   left: 50%;
  //   transform: translate(-50%, 50%);
  //   background: #10c06b;
  //   border-radius: 100%;
  //   width: 50vmin;
  //   height: 50vmin;
  //   filter: blur(100px);
  // }
}
.splitText {
  background: linear-gradient(360deg, rgba(255, 255, 255, 0) 25%, #fff 60%);
  color: rgba(0, 0, 0, 0);
  -webkit-background-clip: text;
  font-size: 13vw;
  font-weight: 100;
  z-index: 1;
  line-height: 80%;
  height: 0;
}
.section1_desc {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  top: 0;
  left: 0;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  p {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    bottom: 63%;
    font-size: 80px;
    font-weight: 900;
  }
  h2 {
    color: rgb(255 255 255);
    font-size: 10vmin;
    font-weight: 100;
    z-index: 1;
    line-height: 1;
    &:first-child {
      font-size: 8.5vmin;
    }
    i {
      color: #10c06b;
    }
  }
  img {
    display: block;
  }
  // &::before {
  //   position: absolute;
  //   content: "";
  // }
  // &::after {
  //   position: absolute;
  //   content: "";
  //   bottom: 0;
  //   width: 100%;
  //   height: 30vmin;
  //   /* filter: blur(6px); */
  //   background: linear-gradient(0deg, #000000, rgba(0, 0, 0, 0));
  //   left: 0;
  //   z-index: 10;
  // }
}
.close {
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 1000;
  width: 71px;
}
.lama_ctrl {
  overflow: hidden;
}
.vr1 {
  overflow: hidden;
}
.vr2 {
  overflow: hidden;
}
.vr3 {
  overflow: hidden;
}
.vr4 {
  overflow: hidden;
}
.vr5 {
  overflow: hidden;
}
.vr6 {
  overflow: hidden;
}
.vr7 {
  overflow: hidden;
}
.vr8 {
  overflow: hidden;
}
.flex_ctrl {
  display: flex;
  align-items: center;
  justify-content: center;
}

.section2_cont {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 75vw;
  height: 100%;
  margin: 0 auto;
  .section2_desc {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    color: #fff;
    .title {
      font-size: 4.2vmin;
    }
    .desc {
    }
  }
  .section2_profile_cont {
    // position: relative;
    // display: flex;
    // width: 50%;
    // justify-content: center;
    // align-items: center;
    position: relative;
    width: 40vmin;
    height: 60vmin;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.231372549);
    background: linear-gradient(180deg, #505050 3%, #1f1f1f 80%);
    box-shadow: inset 10px 10px 40px -35px #fff;
    transition: transform 0.7s ease-out;
    // &::after {
    //   content: "";
    //   position: absolute;
    //   top: 40%;
    //   left: 50%;
    //   width: 27vw;
    //   height: 27vw;
    //   border-radius: 100%;
    //   background: linear-gradient(125deg, #ffffff, #ffffff00 80%);
    //   transform: translate(-50%, -45%);
    //   z-index: -1;
    // }
    &::after {
      content: "";
      position: absolute;
      top: 20px;
      left: 50%;
      transform: translate(-50%, 0);
      width: 90px;
      height: 7px;
      background: black;
      border-radius: 100px;
    }
    .section2_profile {
      /* width: 30vw; */
      z-index: 2;
      filter: grayscale(1);
    }
  }
}
.section {
  .lama {
    position: absolute;
    bottom: 15vw;
    right: -300px;
    width: 11vw;
  }
}
.first_name {
  font-size: 13.1vw;
  font-weight: 900;
  line-height: 0.8;
  text-align: left;
  z-index: 12;
  background: linear-gradient(360deg, #fff0 10%, #fff 80%);
  color: transparent;
  -webkit-background-clip: text;
}
.porfolio_desc {
  font-size: 2vw;
  font-family: "NexonLv1GothicLow";
  font-weight: 400;
  color: #10c06b;
  display: none;
}
.second_name {
  font-size: 5vw;
  font-weight: 900;
  line-height: 0.9;
}
.third_name {
  font-size: 120px;
  font-weight: 900;
  -webkit-text-stroke: 1px #fff;
  color: #5046ac;
  opacity: 0.2;
}
.fifth_name {
  font-size: 5vw;
  font-weight: 900;
  color: #ffffff63;
  opacity: 0.2;
  line-height: 0.9;
}
.section3_fixed {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  h2 {
    font-weight: 100;
    font-size: 5vw;
    white-space: nowrap;
  }
  em {
    /* background: linear-gradient(45deg, #19f5a5 0%, #e6ea19 100%); */
    color: #10c06b;
    /* -webkit-background-clip: text; */
    font-weight: 900;
  }
}
.section3_item {
  display: flex;
  align-items: flex-end;
  gap: 20px;
  div {
    // display: flex;
    // justify-content: space-between;
    // height: 40px;
    a {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 50%;
      height: 100%;
      // color: #000;
      font-size: 1vw;
      font-weight: 700;
      border-top: 1px solid white;
      text-align: center;
      text-transform: uppercase;

      &:hover {
        transition: 0.25s;
        background: #10c06b;
        color: black;
      }
      &:not(:hover) {
        transition: 0.25s;
      }
      &:first-child {
        border-right: 1px solid white;
      }
      &:last-child {
        margin-right: 0;
      }
    }
    div {
      padding: 10px 0;
      // margin: 10px 0;

      border-bottom: 1px solid white;
    }
  }
  h2 {
    font-size: 2.2vw;
    font-weight: 900;
    line-height: 1.2;
    padding: 20px;
    color: #10c06b;
    border-bottom: 1px solid white;
  }
  h4 {
    padding: 0 20px;
  }
  p {
    width: 32vw;
    font-size: 1.1vw;
    line-height: 160%;
    word-break: keep-all;
    background: rgba(0, 0, 0, 0.0509803922);
    color: rgba(255, 255, 255, 0.706);

    padding: 0 20px;
    &:first-child {
      margin-bottom: 5px;
    }
  }
  &:last-child {
    margin-bottom: 20px;
  }
  img {
    width: 30vw;
    // display: none;
  }
}
.section3_item.i001 {
  position: absolute;
  top: 13vw;
  left: 105vw;
}
.section3_item.i002 {
  position: absolute;
  top: 5vw;
  left: 168vw;
}
.section3_item.i003 {
  position: absolute;
  bottom: 6vw;
  left: 213vw;
}
.section3_item.i004 {
  position: absolute;
  top: 7vw;
  left: 256vw;
}
.section3_item.i005 {
  position: absolute;
  top: 9vw;
  left: 337vw;
}
.section3_item.i006 {
  position: absolute;
  bottom: 4vw;
  left: 306vw;
}
.section3_item_bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 300%;
}
.section3_item {
  .item_desc {
    background: rgb(0 0 0 / 90%);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    transform: translate(-122px, 18px);
    position: relative;
    color: white;
    border: 1px solid white;
    box-shadow: 0 20px 50px -20px #000;
    display: flex;
    flex-direction: column;
    height: 100%;

    &::after {
      position: absolute;
      top: 20px;
      right: 28px;
      content: "";
      width: 2px;
      height: 20px;
      background: #10c06b;
      border-radius: 100px;
      transform: rotate(45deg);
    }
  }
}
.section3_item_bottom2 {
  position: absolute;
  bottom: 10px;
  left: -50px;
  width: 300%;
  opacity: 0.7;
  filter: blur(3px);
}
.section3_item_bottom3 {
  position: absolute;
  bottom: 0;
  left: 600%;
  width: 300%;
}
.section3_item_bottom4 {
  position: absolute;
  bottom: 0;
  left: 900%;
  width: 300%;
}
.custom_color {
  .lama {
    position: sticky;
    width: 418px;
    top: 100%;
    left: 100%;
  }
}
@media (max-width: 468px) {
  .level_cont,
  .level_cont_project {
    display: none;
  }
  .section3_item.i002 {
    position: absolute;
    top: 5vw;
    left: 236vw;
  }
  .section3_item.i005 {
    position: absolute;
    top: 42vw;
    left: 337vw;
  }
  #reference {
    .section5_fixed {
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      h2 {
        font-weight: 100;
        font-size: 9vw !important;
        white-space: nowrap;
        color: #000;
      }
      em {
        color: rgba(0, 0, 0, 0);
        font-weight: 900;
        background: linear-gradient(
          45deg,
          #ff9a4b 26%,
          #ff4ac8 76%,
          #8349ff 100%
        );
        -webkit-background-clip: text;
      }
    }
  }
  .vr7 {
    height: auto;
  }
  .none {
    display: block;
  }
  .section4_rev_item {
    width: 90vw;
    height: 50vw;
    h2 {
      font-size: 11vw;
    }
    .section4_rev_item_desc {
      h4 {
        font-size: 5.5vw;
      }
      p {
        font-size: 2vw;
      }
    }
  }

  .panel2 {
    .section5_item {
      .section5_screenshot_cont {
        img {
          width: 60vw;
        }
      }
      > h2 {
        font-size: 15vw;
      }
      > p {
        margin-bottom: 20px;
        font-size: 4vw;
      }
    }
    .section5_item a {
      width: 14vw;
      height: 8vw;
      font-size: 4vw;
    }
  }

  .section15_main_title {
    margin: 40px 0;
    padding-bottom: 40px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.116);
  }

  .section16_item_cont {
    padding: 0 20px !important;
    flex-direction: column;
    .contact_cont {
      width: 100% !important;
      text-align: center;
      h2 {
        font-size: 11.2vw;
      }
      p {
        font-size: 4.3vw;
        border-left: 0;
      }
    }
    img {
      display: none !important;
    }
  }
}

// 섹션 4
.section4_fixed {
  position: sticky;
  top: 100px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 0 12vw;
  color: #353541;
  .title {
    font-size: 5vw;
    font-weight: 100;
    white-space: nowrap;
    em {
      /* background: linear-gradient(45deg, #1af6a5 0%, #401af6 76%, #a21af6 100%); */
      /* color: #3119b4; */
      -webkit-background-clip: text;
      font-weight: 900;
      filter: hue-rotate(303deg);
    }
  }
  .desc_cont {
    display: flex;
    align-items: center;
    .desc {
      font-size: 1.1vw;
      margin-right: 20px;
    }
    .title_button_cont {
      display: flex;
      flex-direction: column;
      gap: 10px;
      button {
        padding: 5px 10px;
        color: #26263b;
        box-shadow: 0px 8px 0px 2px #9090a8;
        font-weight: 900;
        background: linear-gradient(
          45deg,
          #5856d4 26%,
          #bb47bd 76%,
          #8258dc 100%
        );
        color: transparent;
        -webkit-background-clip: text;
        cursor: pointer;
      }
    }
  }
}
.section4_button_cont {
  display: flex;
  flex-direction: column;
  gap: 2px;
  a {
    border: 1px solid #000;
    width: 4vw;
    height: 2.3vw;
    font-size: 1vw;
    transition: 0.25s;
    color: #353541;
    text-align: center;
    line-height: 2.1;
    &:hover {
      background: #343440;
      color: #fff;
      transition: 0.25s;
    }
  }
}
.section4_item {
  width: 76.3vw;
  height: 35.3vw;
  background: #82869c;
  padding-bottom: 1vw;
  display: flex;
  justify-content: space-between;
  position: relative;
  color: #fff;
  font-family: "BebasNeue";
  clip-path: polygon(0 25%, 100% 0, 100% 75%, 0 100%);
  background-image: url("./../../assets/img/section4_screenshot_01.png");
  // background-image: url("./../../assets/img/section4_screenshot_01.jpg");
  background-size: auto;
  margin: 0 auto;
  margin-bottom: 14vw;
  &::after {
    content: "";
    position: absolute;
    background: linear-gradient(270deg, #161c29 50%, rgba(68, 60, 182, 0) 100%);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
  }
  &::before {
    content: "";
    background-image: url("/public/img/section4_icon_music.svg");
    // background-image: url("./../../assets/img/section4_icon_music.svg");
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0, -50%);
    width: 21.2vw;
    height: 32.2vw;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
    opacity: 0;
  }
  h2 {
    font-family: "BebasNeue";
    font-size: 8.2vw;
    z-index: 3;
    line-height: 0.9;
  }
}
.section4_icon_layout {
  position: relative;
  color: #82869c70;
  filter: drop-shadow(0 20px 20px #82869c70);
}
.section4 {
  .item_cont {
    display: flex;
  }
}
.section4_cont {
  div {
    &:nth-child(1) {
      .level_cont {
        display: flex;
        color: #000;
        background: #d3d3deba;
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        position: absolute;
        z-index: 1111;
        align-items: center;
        p {
          &:nth-child(1) {
            background: #ff8500;
            color: #ffffff;
            width: 51px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 2vw;
          }
          &:nth-child(2) {
            padding: 10px;
            font-size: 0.8vw;
          }
        }
      }
      .section4_item {
        // background-image: url("./../../assets/img/section4_screenshot_01.jpg");
        background-image: url("/public/img/section4_screenshot_01.jpg");
        &::before {
          // background-image: url("./../../assets/img/section4_icon_lama.svg");
          background-image: url("/public/img/section4_icon_lama.svg");
        }
      }
    }
    &:nth-child(2) {
      .level_cont {
        display: flex;
        color: #000;
        background: #d3d3deba;
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        position: absolute;
        z-index: 1111;
        align-items: center;
        p {
          &:nth-child(1) {
            background: #fe3672;
            color: #ffffff;
            width: 51px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 2vw;
          }
          &:nth-child(2) {
            padding: 10px;
            font-size: 0.8vw;
          }
        }
      }
      .section4_rev_item {
        // background-image: url("./../../assets/img/section4_screenshot_02.jpg");
        background-image: url("/public/img/section4_screenshot_02.jpg");
        &::before {
          // background-image: url("./../../assets/img/section4_icon_card.svg");
          background-image: url("/public/img/section4_icon_card.svg");
        }
      }
    }
    &:nth-child(3) {
      .level_cont {
        display: flex;
        color: #000;
        background: #d3d3deba;
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        position: absolute;
        z-index: 1111;
        align-items: center;
        p {
          &:nth-child(1) {
            background: #22b46e;
            color: #ffffff;
            width: 51px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 2vw;
          }
          &:nth-child(2) {
            padding: 10px;
            font-size: 0.8vw;
          }
        }
      }
      .section4_item {
        // background-image: url("./../../assets/img/section4_screenshot_03.jpg");
        background-image: url("/public/img/section4_screenshot_03.jpg");
        &::before {
          // background-image: url("./../../assets/img/section4_icon_timer.svg");
          background-image: url("/public/img/section4_icon_timer.svg");
        }
      }
    }
    &:nth-child(4) {
      .level_cont {
        display: flex;
        color: #000;
        background: #d3d3deba;
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        position: absolute;
        z-index: 1111;
        align-items: center;
        p {
          &:nth-child(1) {
            background: #783dd2;
            color: #ffffff;
            width: 51px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 2vw;
          }
          &:nth-child(2) {
            padding: 10px;
            font-size: 0.8vw;
          }
        }
      }
      .section4_rev_item {
        // background-image: url("./../../assets/img/section4_screenshot_04.jpg");
        background-image: url("/public/img/section4_screenshot_04.jpg");
        &::before {
          // background-image: url("./../../assets/img/section4_icon_music.svg");
          background-image: url("/public/img/section4_icon_music.svg");
        }
      }
    }
  }
}
.section4_rev_item {
  width: 76.3vw;
  height: 35.3vw;
  background: #82869c;
  padding-bottom: 5vw;
  display: flex;
  justify-content: space-between;
  position: relative;
  color: #fff;
  font-family: "BebasNeue";
  clip-path: polygon(0 25%, 100% 0, 100% 75%, 0 100%);
  background-image: url("./../../assets/img/section4_screenshot_02.jpg");
  background-size: auto;
  margin: 0 auto;
  margin-bottom: 14vw;
  &::after {
    content: "";
    position: absolute;
    background: linear-gradient(
      270deg,
      rgba(254, 54, 114, 0.031372549) 20%,
      #10c06b 50%
    );
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
  }
  &::before {
    content: "";
    background-image: url("./../../assets/img/section4_icon_music.svg");
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0, -50%);
    width: 21.2vw;
    height: 32.2vw;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
    opacity: 0;
  }
  h2 {
    font-family: "BebasNeue";
    font-size: 8.2vw;
    z-index: 3;
    line-height: 0.9;
  }
}
.section4_rev_icon_layout {
  position: relative;
  color: #82869c70;
  filter: drop-shadow(0 20px 20px rgba(130, 134, 156, 0.4392156863));
}
.lamas {
  // width: 56.5vw;
  // position: absolute;
  // bottom: 0;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
}
.section4_item_desc {
  z-index: 3;
  h4 {
    font-size: 4.5vw;
  }
  > p {
    width: 100%;
    /* opacity: .7; */
    padding-right: 20px;
    font-size: 1vw;
    font-weight: 600;
    word-break: keep-all;
  }
}
.section4_rev_item_desc {
  h4 {
    font-size: 4.5vw;
  }
  p {
    width: 100%;
    /* opacity: .7; */
    padding-right: 20px;
    font-size: 1vw;
    font-weight: 600;
    word-break: keep-all;
  }
}

.pin {
  background: #fff;
  height: 3vh !important;
}
.pin2 {
  // height: 50vh !important;
}
.section4_left {
  width: 50%;
}
.section4_right {
  z-index: 1;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.section4_rev_left {
  width: 50%;
  z-index: 1;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  padding-left: 30px;
  // color: black;
}
.section4_rev_right {
  z-index: 1;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.point {
  position: relative;
  // &::before {
  //   position: absolute;
  //   content: "";
  //   z-index: 1;
  //   background: linear-gradient(0deg, #ededf4 30%, #ededf400 50%);
  //   bottom: 0;
  //   height: 26.5vw;
  //   width: 100%;
  // }
  // &::after {
  //   position: absolute;
  //   content: "";
  // }
}

// 섹션 5
.custom_color {
  gap: 50px;
}
.section5_fixed h2 {
  font-size: 11vw;
}
.section5_screenshot_cont img {
  width: 60vw;
}
.section5_item > h2 {
  font-size: 15vw;
}
.section5_item p {
  margin-bottom: 20px;
  font-size: 4vw;
}
.section5_item a {
  width: 14vw;
  height: 8vw;
  font-size: 4vw;
}
.section5_fixed {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  h2 {
    font-weight: 100;
    font-size: 5vw;
    white-space: nowrap;
    color: #000;
  }
  em {
    color: rgba(0, 0, 0, 0);
    font-weight: 900;
    background: linear-gradient(45deg, #ff9a4b 26%, #ff4ac8 76%, #8349ff 100%);
    -webkit-background-clip: text;
  }
}
.panel2 {
  .s5_3 em {
    color: #fd4e89 !important;
    &::before {
      background: #fd4e89 !important;
    }
  }
  .s5_4 em {
    color: #ff604e !important;
    &::before {
      background: #ff604e !important;
    }
  }
  .s5_5 em {
    color: #ffbf0f !important;
    &::before {
      background: #ffbf0f !important;
    }
  }
  .s5_6 em {
    color: #10c06b !important;
    &::before {
      background: #10c06b !important;
    }
  }
}
.section5_item {
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: start;
  background: #161c29;
  padding: 40px 120px;
  border-radius: 1000px;
  overflow: hidden;
  box-shadow: 0 30px 30px -20px #82869ca8;
  > h2 {
    font-size: 5vw;
    font-weight: 700;
    font-family: GmarketSans;
    text-align: left;
    line-height: 1.1;
    margin-bottom: 20px;
  }
  p {
    text-align: left;
    margin-bottom: 40px;
    font-size: 1.1vw;
    z-index: 1;
  }
  a {
    color: #fff;
    width: 6vw;
    height: 3vw;
    font-size: 1.1vw;
    text-align: left;
    transition: 0.25s;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    &:first-child {
      border-right: 1px solid #ffffff29;
      border-radius: 100px 0 0 100px;
      &:hover {
        background: #10c06b;
        color: black;
        border: 1px solid #10c06b;
      }
      &:not(:hover) {
        transition: 0.25s;
      }
    }
    &:last-child {
      border-radius: 0 100px 100px 0;
      &:hover {
        background: #10c06b;
        color: black;
        border: 1px solid #10c06b;
      }
      &:not(:hover) {
        transition: 0.25s;
      }
    }
  }
  &::before {
    position: absolute;
    content: "";
    background: linear-gradient(90deg, #161c29 10%, #161c2900);
    height: 100%;
    width: 50%;
    top: 0;
    right: 1px;
  }
}
.panel2 {
  .section5_item {
    h2 {
      > em {
        color: #5856d4;
        font-weight: 900;
        position: relative;
        &::before {
          position: absolute;
          content: "";
          top: -10px;
          right: -10px;
          background: #5856d4;
          width: 9px;
          height: 20px;
          border-radius: 100px;
          transform: rotate(45deg);
        }
      }
    }
    &:nth-child(2) {
      h2 {
        > em {
          &::before {
            background: red;
          }
        }
      }
    }
  }
}
.section5_button_cont {
  display: flex;
  justify-content: center;
  border: 1px solid #ffffff29;
  border-radius: 100px;
}
.section5_screenshot_cont {
  position: absolute;
  z-index: -1;
  top: 50%;
  right: 0;
  transform: translate(0, -50%);
  height: 100%;
  overflow: hidden;
  width: 50%;
  img {
    width: 120%;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0, -50%);
  }
}
.section5_contents_cont {
  height: 100vh;
  align-items: center;
  display: flex;
}
.next_button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 5px 10px;
  color: #26263b;
  box-shadow: 0px 8px 0px 2px #9090a8;
  font-weight: 900;
  background: linear-gradient(45deg, #5856d4 26%, #bb47bd 76%, #8258dc 100%);
  color: transparent;
  -webkit-background-clip: text;
  cursor: pointer;
}
.parallax {
  > use {
    &:nth-child(1) {
      animation-delay: -2s;
    }
    &:nth-child(2) {
      animation-delay: -2s;
      animation-duration: 5s;
    }
    &:nth-child(3) {
      animation-delay: -4s;
      animation-duration: 3s;
    }
  }
}
.editorial {
  display: block;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 10em;
  max-height: 100vh;
  margin: 0;
  z-index: 1;
}
.content {
  font-family: "Lato", sans-serif;
  text-align: center;
  background-color: #2d55aa;
  text-align: center;
  min-height: 75vh;
  margin: -0.1em 0 0 0;
  padding: 1em;
  color: #eee;
  font-size: 2em;
  font-weight: 300;
  font-size: 1em;
  h1 {
    margin-top: -1.3em;
    font-weight: 100;
    font-size: 5em;
    cursor: default;
  }
}
.lama_fur_test2,
.lama_fur_test3,
.lama_fur_test {
  width: 250px;
}
.lama_fur_top,
.lama_fur_bottom {
  width: 200px;
}
.lama_fur_top {
  position: absolute;
  top: 0;
  right: 50%;
  transform: translateX(-50%);
}

.pin4 {
  overflow: hidden;
}
h1 {
  outline: none;
}
.pin2 {
  position: relative;
  height: 100vh;

  &::before,
  &::after {
    position: absolute;
    content: "";
  }
  &::before {
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 385px;
    background: linear-gradient(0deg, #ededf4 50%, #ffffff00 100%);
    z-index: 1;
  }
  img {
    position: sticky;
    top: 20%;
    left: 50%;
    rotate: 209deg;
    transform: rotateY(188deg);
    scale: 1.2 !important;
  }
}

// 섹션 6
.horizontal3 {
  .lama {
    position: absolute;
    width: 300px;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
  }
}
.section6_fixed {
  position: absolute;
  top: 11.5vw;
  left: 50%;
  transform: translate(-50%, 0);
  text-align: center;
  color: #fff;
}
.section6_button_cont {
  display: flex;
  justify-content: center;
  gap: 20px;
  button {
    color: #fff;
    border: 1px solid #fff;
    padding: 10px;
  }
}
.section6_item {
  position: relative;
  color: #fff;
  &::before {
    content: "";
    content: "";
    position: absolute;
    top: 10px;
    left: 50%;
    width: 50px;
    height: 2px;
    background: #ffffff8a;
    transform: translate(-50%, 0);
    z-index: 1;
  }
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(125deg, #151326, #1513267d);
    border: 4px solid #fe3672;
    content: "";
    position: absolute;
  }
}
.section6_item_desc {
  position: absolute;
  height: 100%;
  padding: 30px;
  top: 0;
  left: 0;
  z-index: 1;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  h4 {
    font-size: 42px;
    font-family: "GmarketSans";
    font-weight: 600;
    line-height: 100%;
  }
  p {
    border-top: 2px solid #fff;
    padding-top: 10px;
  }
}

// 섹션 6.5
.section6p5_item {
  display: flex;
  align-items: flex-end;
  gap: 20px;
  button {
    padding: 0.5vw;
    border: 1px solid #fff;
    background: #ffffff;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    width: 4.5vw;
    cursor: pointer;
    font-size: 1vw;
    color: #000;
    &:nth-child(3) {
      background: transparent;
      color: #fff;
    }
    &:hover {
      transition: 0.25s;
      background: #5046ac;
      color: #fff;
    }
    &:not(:hover) {
      transition: 0.25s;
    }
  }
  h2 {
    font-size: 2.2vw;
    font-weight: 900;
    line-height: 0.8;
  }
  p {
    width: 32vw;
    font-size: 1vw;
    margin: 10px 0px 30px 0px;
    color: #ffffffc2;
  }
  img {
    width: 30vw;
  }
}
.section6p5_item.i001 {
  position: absolute;
  top: 13vw;
  left: 105vw;
}
.section6p5_item.i002 {
  position: absolute;
  top: 5vw;
  left: 168vw;
}
.section6p5_item.i003 {
  position: absolute;
  bottom: 6vw;
  left: 213vw;
}
.section6p5_item.i004 {
  position: absolute;
  top: 7vw;
  left: 256vw;
}
.section6p5_item.i005 {
  position: absolute;
  top: 9vw;
  left: 337vw;
}
.section6p5_item.i006 {
  position: absolute;
  bottom: 4vw;
  left: 306vw;
}
.section6p5_item_bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 300%;
}
.section6p5_item {
  .item_desc {
    background: linear-gradient(
      45deg,
      rgb(42 34 116),
      rgba(42, 34, 116, 0.7215686275)
    );
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    padding: 20px;
    transform: translate(-122px, 18px);
    border: 11px solid rgb(0 0 0 / 13%);
    position: relative;

    &::after {
      position: absolute;
      top: 20px;
      right: 26px;
      content: "";
      width: 5px;
      height: 20px;
      background: #fff;
      border-radius: 100px;
      transform: rotate(45deg);
    }
  }
}
.section6p5_item_bottom2 {
  position: absolute;
  bottom: 0;
  left: -50px;
  width: 300%;
  opacity: 0.7;
  filter: blur(3px);
}
.level_cont_project {
  display: flex;
  color: #000;
  background: #d3d3deba;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  align-items: center;
  margin-top: 10px;
  p {
    &:nth-child(1) {
      background: #ff8500;
      color: #ffffff;
      width: 51px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 2vw;
    }
    &:nth-child(2) {
      padding: 10px;
      font-size: 0.8vw;
    }
  }
}

// ---
.light {
  width: 100%;
  height: 24vw;
  // background: linear-gradient(216deg, #19ae77, #2f67bf);
  border-radius: 100%;
  filter: blur(66px);
  top: 7vw;
  left: 50%;
  transform: translate(-50%);
  position: absolute;
}
.light_on_top {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.ball {
  width: 2px;
  height: 2px;
  background: #fff;
  box-shadow: 0px 0px 25px 5px rgba(255, 255, 255, 0.189);
  position: absolute;
  border-radius: 100%;
  z-index: 1;
}
.ball_1 {
  top: 20vw;
  left: 20vw;
  width: 6px;
  height: 6px;
}
.ball_2 {
  top: 40vw;
  left: 64vw;
  width: 5px;
  height: 5px;
}
.ball_3 {
  top: 36vw;
  left: 43vw;
  width: 10px;
  height: 10px;
}
.ball_4 {
  top: 49vw;
  left: 95vw;
  width: 4px;
  height: 4px;
  opacity: 0.5;
}
.ball_5 {
  top: 29vw;
  left: 57vw;
  width: 7px;
  height: 7px;
}
.ball_6 {
  top: 39vw;
  left: 26vw;
  width: 12px;
  height: 12px;
}
.ball_7 {
  top: 18vw;
  left: 28vw;
  width: 9px;
  height: 9px;
}
.ball_8 {
  top: 2vw;
  left: 87vw;
  width: 14px;
  height: 14px;
}
.ball_9 {
  top: 59vw;
  left: 47vw;
  width: 4px;
  height: 4px;
  opacity: 0.5;
}
.ball_10 {
  top: 27vw;
  left: 74vw;
  width: 16px;
  height: 16px;
  filter: blur(5px);
}
.ball_11 {
  top: 10vw;
  left: 94vw;
  width: 8px;
  height: 8px;
  opacity: 0.5;
}
.ball_12 {
  top: 73vw;
  left: 20vw;
}
.ball_13 {
  top: 66vw;
  left: 62vw;
  width: 100px;
  height: 100px;
  filter: blur(10px);
  opacity: 0.5;
  z-index: 1;
}
.ball_14 {
  top: 92vw;
  left: 28vw;
}
.ball_15 {
  top: 125vw;
  left: 66vw;
  opacity: 0.5;
}
.ball_16 {
  top: 147vw;
  left: 41vw;
  width: 5px;
  height: 5px;
}
.ball_17 {
  top: 132vw;
  left: 28vw;
  opacity: 0.5;
}
.ball_18 {
  top: 168vw;
  left: 85vw;
  width: 8px;
  height: 8px;
}
.ball_19 {
  top: 194vw;
  left: 28vw;
}
.ball_20 {
  top: 143vw;
  left: 93vw;
  width: 12px;
  height: 12px;
  opacity: 0.5;
}
.lama_fur {
  position: absolute;
  top: 20vw;
  left: 80vw;
}
.point2::before,
.point2::after {
  position: absolute;
  content: "";
}
.point2::before {
  top: 0;
  left: 0;
  width: 100%;
  height: 55vw;
  background: linear-gradient(180deg, #000000 10%, rgba(22, 28, 41, 0));
  z-index: 1;
}
.point2::after {
  bottom: 0;
  left: 0;
  width: 100%;
  height: 55vw;
  background: linear-gradient(0deg, #000000 10%, rgba(0, 0, 0, 0));
  z-index: 1;
}

.screenshot {
  position: absolute;
  width: 22vw;
}
.s5p5_1 {
  top: 30vw;
  left: 50vw;
  z-index: 2;
  width: 40vw;
  transform: skew(346deg, 354deg) rotate(340deg);
  border: 2px solid #10c06b;
}
.s5p5_2 {
  top: 40vw;
  left: 70vw;
  z-index: 1;
  filter: blur(5px);
}
.s5p5_3 {
  top: 60vw;
  left: 50vw;
  z-index: 0;
  filter: blur(10px);
}
.s5p5_4 {
  top: 90vw;
  left: 10vw;
  width: 40vw;
  z-index: 2;
  transform: skew(10deg, 2deg);
  border: 2px solid #10c06b;
}
.s5p5_5 {
  top: 102vw;
  left: 29vw;
  z-index: 1;
  filter: blur(5px);
}
.s5p5_6 {
  top: 113vw;
  left: 4vw;
  z-index: 0;
  filter: blur(10px);
}
.s5p5_7 {
  top: 160vw;
  left: 10vw;
  width: 40vw;
  z-index: 2;
  transform: skew(343deg, 354deg);
  border: 2px solid #10c06b;
}
.s5p5_8 {
  top: 177vw;
  left: 29vw;
  z-index: 1;
  /* filter: blur(5px); */
}
.s5p5_9 {
  top: 167vw;
  left: 9vw;
  z-index: 0;
  /* filter: blur(10px); */
  opacity: 0.5;
}
.s5p5_10 {
  top: 231vw;
  left: 63vw;
  z-index: 2;
  /* filter: blur(10px); */
  opacity: 0.5;
}
.site_type_01_desc {
  position: absolute;
  top: 32.2vw;
  left: 10vw;
  transform: skew(3deg, 3deg);
}
.site_type_02_desc {
  position: absolute;
  top: 91vw;
  left: 53vw;
  transform: skew(356deg, 358deg);
}
.site_type_03_desc {
  position: absolute;
  top: 169.2vw;
  left: 52vw;
  transform: skew(3deg, 3deg);
}
.site_type_04_desc {
  position: absolute;
  top: 59.2vw;
  left: 8vw;
  transform: skew(3deg, 3deg);
}
.site_type_05_desc {
  position: absolute;
  top: 108vw;
  left: 44vw;
  transform: skew(356deg, 358deg);
}
.site_type_06_desc {
  position: absolute;
  top: 169.2vw;
  left: 62vw;
  transform: skew(3deg, 3deg);
}
.site_type_07_desc {
  position: absolute;
  top: 230.2vw;
  left: 11vw;
  transform: skew(3deg, 3deg);
}

.site_type_01_desc h2,
.site_type_02_desc h2,
.site_type_03_desc h2,
.site_type_04_desc h2,
.site_type_05_desc h2,
.site_type_06_desc h2,
.site_type_07_desc h2 {
  font-size: 2.7vw;
  font-weight: 900;
  text-transform: uppercase;
}
.site_type_01_desc,
.site_type_02_desc,
.site_type_03_desc,
.site_type_04_desc,
.site_type_05_desc,
.site_type_06_desc,
.site_type_07_desc {
  z-index: 1000;
  background: #000000de;
  border: 2px solid #10c06b;
  padding: 10px;
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(30px);
  // width: 50vw;
  max-width: 700px;

  .project_type {
    margin-bottom: 10px;
    span {
      &:first-child {
        background: white;
        color: black;
        padding: 2px 5px;
        margin-right: 10px;
      }
    }
  }
  .info_container {
    ul {
      li {
        ul {
          margin-bottom: 10px;
          display: flex;
          align-items: start;
          li {
            &:first-child {
              color: #10c06b;
            }
            &:last-child {
              color: rgba(255, 255, 255, 0.8);
            }
          }
        }
      }
    }
  }
}
.site_type_01_desc p,
.site_type_02_desc p,
.site_type_03_desc p,
.site_type_04_desc p,
.site_type_05_desc p,
.site_type_06_desc p,
.site_type_07_desc p {
  font-size: 1.2vw;
  color: #fff;
  line-height: 1.6;
}
.site_type_01_desc p strong,
.site_type_02_desc p strong,
.site_type_03_desc p strong,
.site_type_04_desc p strong,
.site_type_05_desc p strong,
.site_type_06_desc p strong,
.site_type_07_desc p strong {
  font-weight: 900;
  font-size: 2vmin;
}
.section6p5_button_cont {
  display: flex;
  justify-content: start;

  border: 2px solid #10c06b44;
  // width: 10vw;
  a {
    padding: 10px;
    width: 50%;
    text-align: center;
    flex: 1;
    border-right: 2px solid #10c06b44;
    &:last-child {
      border-right: none;
    }
    &:hover {
      background: #10c06b;
      color: #000;
    }
    &:not(:hover) {
      transition: 0.25s;
    }
  }
}

.ball_cont {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
#linesvg {
  #motionSVG {
    #tractor {
      -webkit-animation: swingElement 1.1s alternate 0s infinite;
      animation: swingElement 1.1s alternate 0s infinite;
      animation-timing-function: cubic-bezier(1, 0.36, 0.4, 1.13);
    }
  }
}
.section6p5_static {
  color: #fff;
  z-index: 1111111;
  position: absolute;
  top: 8.2vw;
  left: 18.2vw;
  font-size: 5.5vw;
  font-weight: 100;
}
.section6p5_static em {
  font-weight: 900;
}

// ---
.bg_change {
  background: #000000 !important;
  /* height: 20vh !important; */
}
.point3 {
  position: relative !important;
  height: 300vw;
  overflow: hidden;
}
.point3::before,
.point3::after {
  position: absolute;
  content: "";
}
.point3::before {
  top: 0;
  left: 0;
  width: 100%;
  height: 48vw;
  background: linear-gradient(180deg, #456ea2 0%, transparent);
  z-index: 1;
}
.point3::after {
  bottom: 0;
  left: 0;
  width: 100%;
  height: 55vw;
  background: linear-gradient(0deg, #131924 10%, transparent);
  z-index: 1;
}
.s6p5_1 {
  top: 43vw;
  left: 62vw;
  z-index: 2;
  transform: skew(7deg, 355deg) scale(2.1);
  border: 5px solid #ffffff12;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  box-shadow: 0 50px 70px -30px #0000007a;
}

.s6p5_2 {
  top: 53vw;
  left: 70vw;
  z-index: 2;
  transform: skew(341deg, 11deg) scale(0.8);
  border: 10px solid #ffffff12;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  box-shadow: 0 50px 70px -30px #0000007a;
}
.s6p5_3 {
  top: 60vw;
  left: 50vw;
  z-index: 0;
  filter: blur(10px);
}
.s6p5_4 {
  top: 117vw;
  left: 12vw;
  z-index: 2;
  transform: skew(8deg, 2deg) scale(1.7);
  border: 5px solid #ffffff12;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  box-shadow: 0 50px 70px -30px #0000007a;
}
.s6p5_5 {
  top: 102vw;
  left: 29vw;
  z-index: 1;
  filter: blur(5px);
}
.s6p5_6 {
  top: 113vw;
  left: 4vw;
  z-index: 0;
  filter: blur(10px);
}
.s6p5_7 {
  top: 182vw;
  left: 15vw;
  z-index: 2;
  transform: skew(15deg, 4deg) rotate(348deg) scale(1.8);
  border: 5px solid #ffffff12;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  box-shadow: 0 50px 70px -30px #0000007a;
}
.s6p5_8 {
  top: 177vw;
  left: 29vw;
  z-index: 1;
  /* filter: blur(5px); */
}
.s6p5_9 {
  top: 167vw;
  left: 9vw;
  z-index: 0;
  /* filter: blur(10px); */
  opacity: 0.5;
}
.s6p5_10 {
  top: 235vw;
  left: 66vw;
  z-index: 0;
  border: 5px solid #ffffff12;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  box-shadow: 0 50px 70px -30px #0000007a;
}
.s6p5_11 {
  top: 242vw;
  left: 70vw;
  z-index: 1;
  border: 10px solid #ffffff12;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  box-shadow: 0 50px 70px -30px #0000007a;
}

// ---

.bg_change_purple {
  background: linear-gradient(
    45deg,
    #000000 0%,
    #456ea27a 50%,
    transparent 100%
  );
}
.section6p7_static {
  color: #fff;
  z-index: 1111111;
  position: absolute;
  top: 8.2vw;
  left: 18.2vw;
  font-size: 5.5vw;
  font-weight: 100;
}
.section6p7_title em {
  font-weight: 900;
}

// 섹션 7
.section7_flex_cont {
  display: flex;
  justify-content: space-between;
  z-index: 1;
}
.section7_item {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;
  background-image: url("./../../assets/img/section7_screenshot_01.jpg");
  background-position: center;
  background-size: cover;
  color: #fff;
  &::before {
    content: "";
    position: absolute;
  }
  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ededf4;
  }
}
.section7_main_title_cont {
  h2 {
    color: #6dd03e;
    font-weight: 900;
    font-size: 120px;
    line-height: 75%;
  }
  p {
    padding: 2px 6px;
    background: #383550;
    color: #6dd03f;
    display: inline-block;
    margin: 20px 0px 0px 7px;
    border-radius: 5px;
    font-weight: 400;
    height: 27px;
  }
}
.section7_blog_desc {
  text-align: right;
  width: 50%;
}
.section7_button_cont {
  margin-top: 20px;
  button {
    padding: 7px 12px;
    border: 1px solid #fff;
    color: #fff;
  }
}
.section8_flex_cont {
  display: flex;
  justify-content: space-between;
  z-index: 1;
}
.section8_item {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;
  background-image: url("./../../assets/img/section7_screenshot_02.jpg");
  background-position: center;
  background-size: cover;
  color: #fff;
  &::before {
    content: "";
    position: absolute;
  }
  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, #15132600 0%, #100f1c 60%);
  }
}
.section8_main_title_cont {
  h2 {
    background: linear-gradient(45deg, #5856d4 26%, #bb47bd 76%, #8258dc 100%);
    color: transparent;
    -webkit-background-clip: text;
    font-weight: 900;
    font-size: 120px;
    line-height: 75%;
  }
  p {
    padding: 2px 6px;
    background: #383550;
    color: #bb47bd;
    display: inline-block;
    margin: 20px 0px 0px 0px;
    float: right;
    border-radius: 5px;
    font-weight: 400;
    height: 27px;
  }
}
.section8_blog_desc {
  text-align: left;
  width: 50%;
}
.section8_button_cont {
  margin-top: 20px;
  button {
    padding: 7px 12px;
    border: 1px solid #fff;
    color: #fff;
  }
}
.section9_all_cont {
  display: flex;
  justify-content: space-between;
  padding: 0 120px;
  height: 100%;
}
.sec8_bg {
  height: 100%;
}
.section9_desc_cont {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 120px 0;
  z-index: 1;
  .title_container {
    .title {
      font-size: 52px;
      color: #10c06b;
      margin-bottom: 10px;
      line-height: 1.1;
    }
    margin-bottom: 20px;
  }
  .info_container {
    margin-bottom: 20px;
  }
}
.section9_logo_cont {
  position: relative;
  width: 50%;
  z-index: 1;
}
.sec8_logo {
  position: absolute;
  top: 50%;
  right: 0px;
  transform: translate(0, -50%);
  z-index: 1;
  width: 54vh;
}
.section9_main_screenshot {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.title_wrap {
  display: flex;
  font-size: 50px;
  font-weight: 100;
  margin-bottom: 20px;
  color: #fff;
  .title {
    line-height: 100%;
    em {
      font-weight: 900;
    }
  }
}
.sub_ttitle {
  font-size: 16px;
  padding: 2px 8px;
  height: 26px;
  /* margin-top: 6px; */
  font-weight: 600;
  margin-left: 10px;
  background: #10c06b !important;
  color: #000 !important;
}
.section10_all_cont {
  display: flex;
  justify-content: space-between;
  padding: 0 120px;
  height: 100%;
}
.sec10_bg {
  height: 100%;
}
.section10_desc_cont {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 120px 0;
  z-index: 1;
  .title_container {
    .title {
      font-size: 52px;
      color: #10c06b;
      margin-bottom: 10px;
      line-height: 1.1;
    }
    margin-bottom: 20px;
  }
  .info_container {
    margin-bottom: 20px;
  }
}
.section10_logo_cont {
  position: relative;
  width: 50%;
  z-index: 1;
}
.sec10_logo {
  position: absolute;
  top: 50%;
  right: 0px;
  transform: translate(0, -50%);
  z-index: 1;
  width: 54vh;
}
.section10_main_screenshot {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.section11_all_cont {
  display: flex;
  justify-content: space-between;
  padding: 0 120px;
  height: 100%;
}
.sec11_bg {
  height: 100%;
}
.section11_desc_cont {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 120px 0;
  z-index: 1;
  .title_container {
    .title {
      font-size: 52px;
      color: #10c06b;
      margin-bottom: 10px;
      line-height: 1.1;
    }
    margin-bottom: 20px;
  }
  .info_container {
    margin-bottom: 20px;
  }
}
.section11_logo_cont {
  position: relative;
  width: 50%;
  z-index: 1;
}
.sec11_logo {
  position: absolute;
  top: 50%;
  right: 0px;
  transform: translate(0, -50%);
  z-index: 1;
  width: 54vh;
}
.section11_main_screenshot {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.section12_all_cont {
  display: flex;
  justify-content: space-between;
  padding: 0 120px;
  height: 100%;
}
.sec12_bg {
  height: 100%;
}
.section12_desc_cont {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 120px 0;
  z-index: 1;
}
.section12_logo_cont {
  position: relative;
  width: 50%;
  z-index: 1;
}
.sec12_logo {
  position: absolute;
  top: 50%;
  right: 0px;
  transform: translate(0, -50%);
  z-index: 1;
  width: 54vh;
}
.section12_main_screenshot {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

// 섹션 13
.section13_all_cont {
  display: flex;
  justify-content: space-between;
  padding: 0 120px;
  height: 100%;
}
.sec13_bg {
  height: 100%;
}
.section13_desc_cont {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 120px 0;
  z-index: 1;
}
.section13_logo_cont {
  position: relative;
  width: 50%;
  z-index: 1;
}
.sec13_logo {
  position: absolute;
  top: 50%;
  right: 0px;
  transform: translate(0, -50%);
  z-index: 1;
  width: 54vh;
}
.section13_main_screenshot {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

// 섹션 14
.section14_all_cont {
  display: flex;
  justify-content: space-between;
  padding: 0 120px;
  height: 100%;
}
.sec14_bg {
  height: 100%;
}
.section14_desc_cont {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 120px 0;
  z-index: 1;
}
.section14_logo_cont {
  position: relative;
  width: 50%;
  z-index: 1;
}
.sec14_logo {
  position: absolute;
  top: 50%;
  right: 0px;
  transform: translate(0, -50%);
  z-index: 1;
  width: 30vh;
}
.section14_main_screenshot {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

// 섹션 15
.section15_flex_cont {
  width: 100%;
  height: 100%;
  .section15_all_cont {
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    .section15_main_title {
      display: flex;
      justify-content: center;
      text-align: center;
      margin-bottom: 40px;
      h2 {
        font-size: 42px;
        font-weight: 900;
        color: black;
      }
    }
    .section15_list_cont {
      margin: 0 20px;
      > ul {
        display: flex;

        // color: black;
        border-bottom: 1px solid #ffffff0d;
        // padding-bottom: 5px;
        // margin-bottom: 5px;
        transition: 0.2s;
        &:hover {
          // transform: scale(1.02);
          // filter: drop-shadow(0px 10px 15px #55538729);
          /* color: #1af6a6; */
          border: 1px solid #10c06b;
        }

        &.project {
          > li {
            &:first-child {
              color: black;
              background: #10c06b;
              /* border: 1px solid black; */
              // border-radius: 10px;
              padding: 10px;
              width: 10%;
              display: flex;
              align-items: center;
              justify-content: center;
              font-weight: bold;
              text-align: center;
            }
          }
        }

        > li {
          &:first-child {
            color: white;
            background: black;
            /* border: 1px solid black; */
            // border-radius: 10px;
            padding: 10px;
            width: 10%;
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: bold;
            cursor: default;
            text-align: center;
          }
        }
        > div {
          width: 90%;
          padding: 0 10px;
          // margin-left: 10px;
          transition: 0.25s;
          // border-radius: 10px;
          &:hover {
            // background: #fff;
          }
          > ul {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 10px;
            // margin-bottom: 10px;
            // padding-bottom: 10px;
            border-bottom: 1px dotted #ffffff20;
            &:last-child {
              margin-bottom: 0;
              padding-bottom: 0;
              border-bottom: none;
            }
            > li {
              &:nth-child(1) {
                width: 15%;
                font-weight: 900;
                padding: 10px 0;
                cursor: default;
              }
              &:nth-child(2) {
                width: 55%;
                font-size: 14px;
                // font-weight: bold;
                color: #ffffff7b;
                padding: 10px 0;
                cursor: default;
              }
              &:nth-child(3) {
                font-size: 14px;
                width: 30%;
                display: flex;
                gap: 5px;
                padding: 10px 0;
                flex-wrap: wrap;
                a {
                  transition: 0.25s;
                  color: black;
                  background: rgb(229, 231, 237);
                  // border-radius: 5px;
                  padding: 2px 10px;
                  // margin-right: 10px;
                  height: 100%;

                  // border: 1px solid rgba(0, 0, 0, 0.086);
                  // padding: 5px 8px;
                  &:hover {
                    background: #10c06b;
                    // color: white;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

// 섹션 16
.section16_item_cont {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  height: 100%;
  padding: 0 120px;
  gap: 20px;
  img {
    width: 50%;
  }
}
.contact_cont {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  .input_cont {
    display: flex;
    flex-direction: column;
    input {
      border: 1px solid #35346145;
      background: #e5e5ef6e;
      color: #353461;
      height: 50px;
      border-bottom: 0px;
      padding: 10px;
    }
    textarea {
      border: 1px solid #35346145;
      background: #e5e5ef6e;
      color: #353461;
      height: 300px;
      padding: 10px;
    }
    button {
      background: #353461;
      color: #fff;
      text-align: left;
      height: 50px;
      padding: 10px;
    }
  }
  h2 {
    font-weight: 900;
    font-size: 5.2vw;
    // color: #5046ac;
    margin-bottom: 15px;
  }
  .info_container {
    display: flex;
    justify-content: space-between;
    gap: 5px;
    p {
      flex: 1;
      font-size: 1.3vw;
      padding: 5px;
      color: black;
      background: white;
      line-height: 2.7;
      transition: 0.25s;
      text-align: center;
      box-shadow: 0 5px 0 0 #ffffff42;
      &:hover {
        background: #10c06b;
        color: black;
      }
      &:active {
        transform: translateY(5px);
        box-shadow: 0 0px 0 0 #ffffff42;
        // box-shadow: 0px 3px 0 5px rgba(0, 0, 0, 0.2588235294) inset;
        // filter: brightness(0.5);
      }
      a {
        display: inline-block;
        width: 100%;
        height: 100%;
        line-height: 2.7;
        color: black;
        text-align: center;
      }
    }
  }
  .sns_cont {
    border-top: 1px solid #00000012;
    padding-top: 10px;
  }
}
.vr8 {
  position: relative;
}
.vr8 .section16_item_cont .contact_cont {
  // color: #343440;
}
.vr8 .section16_item_cont .contact_cont .sns_cont a {
  display: inline-flex;
  align-items: center;
  color: #343440;
  padding-right: 10px;
  margin-right: 5px;
  transition: 0.25s;
}
.vr8 .section16_item_cont .contact_cont .sns_cont a:last-child {
  margin-right: 0;
  padding-right: 0;
  /* border-right: 0; */
}
.vr8 .section16_item_cont .contact_cont .sns_cont a:hover {
  transform: scale(1.1);
}
.vr8 .section16_item_cont .contact_cont .sns_cont a:not(:hover) {
  transition: 0.25s;
}
.vr8 .section16_item_cont .section16_lama {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(0, -50%);
}
.vr8 .section16_item_cont .contact_cont .sns_cont a img {
  width: 3vw;
  margin-right: 10px;
  border-radius: 100%;
  border: 1px solid #0000002b;
  padding: 2px;
}

// 기타 1
.parallax > use {
  animation: move-forever 12s linear infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
}
.parallax > use:nth-child(2) {
  animation-delay: -2s;
  animation-duration: 5s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 3s;
}

// 기타 2
.section_rv_button_cont {
  display: flex;
  justify-content: start;
  width: 260px;
  a {
    flex: 1;
    padding: 10px;
    background: white;
    border-right: 1px solid rgba(0, 0, 0, 0.162);
    color: black;
    transition: 0.25s;
    text-align: center;
    cursor: pointer;
    box-shadow: 0 5px 0 0 rgba(255, 255, 255, 0.4);
    &:last-child {
      border-right: none;
    }
    &:hover {
      background: #10c06b;
    }
    &:active {
      box-shadow: 0 0px 0 0 rgba(255, 255, 255, 0.4);
      transform: translateY(5px);
    }
    &:not(:hover) {
      transition: 0.25s;
    }
  }
}
.info_container {
  ul {
    li {
      ul {
        li {
          display: inline-block;
          &:first-child {
            padding-right: 10px;
            width: 20%;
          }
          &:last-child {
            width: 80%;
            color: #10c06b;
          }
        }
      }
    }
  }
}
.section14_lama,
.section13_lama,
.section12_lama,
.section11_lama,
.section10_lama,
.section9_lama {
  position: absolute;
  bottom: 0;
  left: 150px;
  z-index: 1;
}

@keyframes move-forever {
  0% {
    transform: translate(-90px, 0%);
  }
  100% {
    transform: translate(85px, 0%);
  }
}
@media (max-width: 50em) {
  .content {
    h1 {
      font-size: 12vmax;
    }
  }
  .editorial {
    height: 17vw;
  }
}

@-webkit-keyframes updown1 {
  0% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
  100% {
    -webkit-transform: translateY(-9px);
    transform: translateY(-9px);
  }
}
// -webkit-animation: updown2 1.1s alternate 0s infinite;
//     animation: updown1 1.3s alternate 0s infinite;
//     animation-timing-function: ease-in-out;
@keyframes updown1 {
  0% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
  100% {
    -webkit-transform: translateY(-9px);
    transform: translateY(-9px);
  }
}
@keyframes rotate1 {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: 360deg;
  }
}
