.artistWrap {
  // padding: 40px;

  h3 {
    // margin-top: 30px;
    font-size: 26px;
    margin-bottom: 30px;
  }

  em {
    font-size: 16px;
    color: #1dd960;
    margin-left: 5px;
  }

  .artistinner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;

    .artist {
      width: 18.5%;
      position: relative;
      margin-bottom: 20px;
      border-radius: 15px;
      cursor: pointer;

      &:hover {
        transform: translatey(10px);
        transition: 0.25s;
      }
      &:not(:hover) {
        transition: 0.25s;
      }

      img {
        width: 246px;
        border-radius: 15px;
        height: 341px;
        object-fit: cover;
      }

      .artistbox {
        padding: 20px;
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 126px;
        -webkit-backdrop-filter: blur(6px);
        backdrop-filter: blur(6px);
        box-sizing: border-box;
        border-radius: 0px 0px 10px 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background: linear-gradient(359deg, black 10%, transparent);

        p {
          color: rgba(255, 255, 255, 0.738);
          // font-size: 14px;
          font-size: 14px;
        }

        h4 {
          font-size: 22px;
          color: #fff;
          // margin-bottom: 20px;
          width: 100%;
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
        }

        .like {
          display: flex;

          p {
            margin-left: 10px;
            color: rgba(255, 255, 255, 0.5);
          }
        }
      }
    }
  }
}
