.music__player {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;

  strong {
    color: #1dd960;
    margin-bottom: 45px;
    display: inline-block;
  }

  p {
    color: rgba(255, 255, 255, 0.5);
    text-align: left;
    margin-bottom: 5px;
  }

  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  .music_player_ctrl {
    margin-right: 84px;
    position: relative;

    .inner_album_art {
      position: relative;

      .greencircle {
        position: absolute;
        left: -9px;
        top: -9px;
        width: 305px;
        height: 305px;
        border: 1px solid #1dd960;
        border-radius: 50%;
      }

      .musicpoint {
        position: absolute;
        left: 44%;
        top: 44%;
        border-radius: 50%;
        width: 27px;
        height: 27px;
        background: rgba(0, 0, 0, 0.26);
        backdrop-filter: blur(2px);

        &::before {
          content: '';
          position: absolute;
          left: 30%;
          top: 30%;
          width: 12px;
          height: 12px;
          border-radius: 50%;
          background: #000;
          border: 1px solid #1dd960;
        }
      }

      img {
        border-radius: 50%;
        width: 288px;
        height: 288px;
      }
    }

    .music__tit {
      text-align: left;
      margin-bottom: 12px;
      font-size: 26px;
      color: #fff;
    }

    .progress {
      width: 100%;
      height: 6px;
      background: #101010;
      border-radius: 5px;

      .bar {
        width: 0;
        height: inherit;
        background: #7fff58;
        border-radius: 5px;
      }

      .timer {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 3px;

        .current {
          color: rgba(255, 255, 255, 0.5);
        }

        .duration {
          color: #1dd960;
        }
      }
    }

    .control {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 40px;

      .repeat {
        width: 23px;
        height: 23px;
        background-image: url("data:image/svg+xml,%0A%3Csvg width='23' height='23' viewBox='0 0 23 23' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M17.5988 17.5988C16.038 19.1596 13.8817 20.125 11.5 20.125C6.73654 20.125 2.875 16.2635 2.875 11.5C2.875 6.73654 6.73654 2.875 11.5 2.875C13.8817 2.875 16.038 3.84039 17.5988 5.4012C18.3933 6.19566 20.125 8.14583 20.125 8.14583' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M20.125 3.83325V8.14575H15.8125' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
        background-position: center;
        cursor: pointer;
      }

      .prev {
        width: 30px;
        height: 30px;
        background-image: url("data:image/svg+xml,%0A%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_1_1968)'%3E%3Cpath d='M21.25 22.5L13.75 15L21.25 7.5' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M8.75 7.5V22.5' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_1_1968'%3E%3Crect width='30' height='30' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
        background-position: center;
        cursor: pointer;
      }

      .play {
        width: 73px;
        height: 73px;
        background-image: url("data:image/svg+xml,%3Csvg width='73' height='73' viewBox='0 0 73 73' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_1_1969)'%3E%3Cpath d='M28.8959 18.25L47.1459 36.5L28.8959 54.75' stroke='%231DD960' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_1_1969'%3E%3Crect width='73' height='73' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
        background-position: center;
        cursor: pointer;
      }

      .next {
        width: 30px;
        height: 30px;
        background-image: url("data:image/svg+xml,%0A%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_1_1967)'%3E%3Cpath d='M8.75 7.5L16.25 15L8.75 22.5' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M21.25 7.5V22.5' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_1_1967'%3E%3Crect width='30' height='30' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
        background-position: center;
        cursor: pointer;
      }

      .list {
        width: 23px;
        height: 23px;
        background-image: url("data:image/svg+xml,%3Csvg width='23' height='23' viewBox='0 0 23 23' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.4012 17.5988C6.96202 19.1596 9.11827 20.125 11.5 20.125C16.2635 20.125 20.125 16.2635 20.125 11.5C20.125 6.73654 16.2635 2.875 11.5 2.875C9.11827 2.875 6.96202 3.84039 5.4012 5.4012C4.60674 6.19566 2.875 8.14583 2.875 8.14583' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M2.875 4.3125V8.14583H6.70833' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
        background-position: center;
        cursor: pointer;
      }
    }
  }

  .music_player_lyric {
    text-align: left;
    z-index: 1;

    h3 {
      font-size: 26px;
      margin-bottom: 10px;
    }

    .lyric_inner {
      line-height: 21px;
    }
  }
}

.outer_album_art::before {
  content: '';
  background: linear-gradient(0deg, black, #000000ad);
  -webkit-backdrop-filter: blur(15px);
  backdrop-filter: blur(96px);
  width: 100vw;
  height: 100vh;
  /* z-index: 11; */
  position: absolute;
  top: 0;
  left: 0;
}
.outer_album_art {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.outer_album_art img {
  width: 100%;
  height: 100%;
}
.music__player__subcont {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
