#main {
  #contents {
    #ranking__temporary {
      display: flex;
      justify-content: space-between;
    }
    .ranking_cont {
      display: flex;
      justify-content: space-evenly;
      .winner_cont {
        width: 30%;
        // padding: 0 20px;
        h2 {
          height: 36px;
        }
        .album_art_cont {
          position: relative;
          img {
            width: 100%;
            border-radius: 15px;
            margin-bottom: 30px;
          }
          &::before {
            content: '';
            position: absolute;
            background: #000;
            width: 8px;
            height: 31px;
            top: 12px;
            right: 25px;
            border-radius: 100px;
            transform: rotate(45deg);
          }
          .album_art_shadow {
            filter: blur(52px);
            position: absolute;
            bottom: -20px;
            left: 0;
            opacity: 0.4;
          }
        }
        h4 {
          font-size: 50px;
          font-weight: bold;
          margin-bottom: 20px;
        }
        .artist {
          font-size: 16px;
          color: rgba(255, 255, 255, 0.488);
        }
        .song_title {
          font-weight: bold;
          font-size: 38px;
          margin-bottom: 20px;
        }
        .refresh_time {
          font-size: 14px;
          color: #8a8a8a;
          margin-bottom: 10px;
          display: flex;
          img {
            margin-right: 10px;
          }
        }
        .trophy_desc {
          font-size: 20px;
          color: #1dd960;
          display: flex;
          img {
            margin-right: 10px;
          }
        }
      }
      .list_cont {
        width: 65%;
        // padding: 10px;
        .ranking_list_header {
          display: flex;
          justify-content: space-between;
          padding: 0 15px;
          margin-bottom: 10px;
          height: 36px;
          align-items: flex-end;

          div {
            text-align: center;
            margin-right: 5px;
            // border-right: 1px solid #252525;
            padding-right: 5px;
            font-size: 12px;
            color: rgba(255, 255, 255, 0.488);
            &:nth-child(1) {
              width: 5%;
            }
            &:nth-child(2) {
              width: 5%;
              border-right: 0;
              padding-right: 0;
            }
            &:nth-child(3) {
              width: 40%;
              // border-left: 1px solid #252525;
            }
            &:nth-child(4) {
              width: 15%;
            }
            &:nth-child(5) {
              width: 15%;
            }
            &:nth-child(6) {
              width: 20%;
              display: flex;
              align-items: center;
              justify-content: center;
            }
            &:nth-child(7) {
              width: 10%;
            }
          }
        }
        ul {
          .item {
            display: flex;
            align-items: center;
            justify-content: space-between;
            background: #101010;
            padding: 10px;
            border-radius: 15px;
            margin-bottom: 20px;
            color: rgba(255, 255, 255, 0.523);
            div {
              text-align: center;
              margin-right: 5px;
              border-right: 1px solid #252525;
              padding-right: 5px;
              &:last-child {
                border-right: 0;
                margin-right: 0;
                padding-right: 0;
              }
              &:nth-child(1) {
                width: 5%;
                font-size: 14px;
              }
              &:nth-child(2) {
                width: 5%;
                border-right: 0;
                padding-right: 0;
                img {
                  width: 100%;
                  border-radius: 5px;
                }
              }
              &:nth-child(3) {
                width: 30%;
                border-left: 1px solid #252525;
                font-size: 16px;
                color: #fff;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
                text-align: left;
              }
              &:nth-child(4) {
                width: 15%;
                font-size: 14px;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
              }
              &:nth-child(5) {
                width: 15%;
                font-size: 14px;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
              }
              &:nth-child(6) {
                width: 5%;
                display: flex;
                align-items: center;
                justify-content: space-evenly;
                font-size: 14px;
                img {
                  width: 20px;
                }
              }
              &:nth-child(7) {
                font-size: 14px;
                width: 10%;
                color: #1dd960;
              }
            }
          }
        }
      }
    }
  }
}
